* {
    box-sizing: border-box; 
    z-index: -5;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    /* opacity: 0.7; */
    filter: blur(10px)
}

body {
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1544198365-f5d60b6d8190?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat center center fixed;
    background-size: cover;
}



form {
    max-width: 50%;
    border-radius: 10px;
    padding: 50px;
    margin: auto;
    padding: auto;
    margin-bottom: 100px;
    background-color: rgb(228, 161, 71);
}

#title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    color: #fff;
}

#description {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    /* font-style: italic; */
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea, 
select {
    /* background: rgba (255, 255, 255, 0.1); */
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 5px;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(227, 74, 171, 0.838);
    border: 1px solid rgb(230, 154, 237);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0px 10px 8px 0;
}


fieldset {
    border: none;
}

label {
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
}

label.light {
    font-weight: 300;
    display: inline-flex;
}

#submit {
    padding: 18px 40px 18px 40px;
    color: #fff;
    background-color: #d93f58;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    width: 100%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}

select {
    /* padding: 30px; */
    height: 45px;
}

#number {
    margin-bottom: 0;
}

fieldset {
    margin-bottom: 20px;
}

/* section {
    margin-bottom: 0px;
} */

#dropdown {
    text-indent: 5px;
    color: #777 ;
}

